<div class="mx-auto px-4 py-2 sm:px-8 lg:container">
    <div class="mb-4 flex justify-between">
        <div class="inline-block">
          <h3 class="font-semibold text-gray-900 dark:text-white uppercase">Première Copie</h3>
          <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
            <a href="" class="hover:text-primary-500"> Bureau Etat Civil</a>
            <span>- Service de Traitement des Actes de Naissances</span>
          </div>
        </div>
        <div class="inline-block space-x-2">
          <button
            class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
           Acceuil
          </button>
          <span class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400">>></span>
          <button
            class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
        ...
          </button>
          <span class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400">>></span>
         
          <button
            class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
         Formulaire Première Copie
          </button>
        </div>
      </div>
    
    

      <div class="flex-col rounded-lg bg-white mt-5 px-3 py-3 dark:bg-night-700 sm:flex-row">
        <div class="my-3 flex items-center justify-between">
          <div class="flex-col items-center">
            <h3 class="text-md font-semibold pl-5 text-gray-900 dark:text-night-50">Formulaire à remplir pour l'ajoute de la première copie</h3>
          </div>
     
    
        </div>

   
<!-- <div class="p-5">
    <div class="mx-4 p-4">
        <div class="flex items-center">
            <div class="flex items-center text-teal-600 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-teal-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark ">
                        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-teal-600">Personal</div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-teal-600"></div>
            <div class="flex items-center text-white relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 bg-teal-600 border-teal-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus ">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="8.5" cy="7" r="4"></circle>
                        <line x1="20" y1="8" x2="20" y2="14"></line>
                        <line x1="23" y1="11" x2="17" y2="11"></line>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-teal-600">Account</div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
            <div class="flex items-center text-gray-500 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail ">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Message</div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
            <div class="flex items-center text-gray-500 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database ">
                        <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                        <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                        <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Confirm</div>
            </div>
        </div>
    </div>
    <div class="mt-8 p-4">
        <div>
            <div class="font-bold text-gray-600 text-xs leading-8 uppercase h-6 mx-2 mt-3">Full Name</div>
            <div class="flex flex-col md:flex-row">
                <div class="w-full flex-1 mx-2 svelte-1l8159u">
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="First Name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
                <div class="w-full flex-1 mx-2 svelte-1l8159u">
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="Last Name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Username</div>
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="Just a hint.." class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Your Email</div>
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="jhon@doe.com" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
            </div>
        </div>
        <div class="flex p-2 mt-4">
            <button class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-gray-700 
        border duration-200 ease-in-out 
        border-gray-600 transition">Previous</button>
            <div class="flex-auto flex flex-row-reverse">
                <button class="text-md  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-600  
        bg-teal-600 
        text-teal-100 
        border duration-200 ease-in-out 
        border-teal-600 transition">Next</button>
                <button class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-200  
        bg-teal-100 
        text-teal-700 
        border duration-200 ease-in-out 
        border-teal-600 transition">Skip</button>
            </div>
        </div>
    </div>
</div> -->

   <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="PiecesFormGroup">
            <form [formGroup]="PiecesFormGroup">
              <ng-template matStepLabel> Dossier <br>
                <span class="font-normal text-xs text-gray-400">Check Dossier</span>
              </ng-template>
              <div class="lg:grid md:grid-flow-col grid-cols-2 gap-4 mt-20">
                <div class="mb-4  w-60">
                  <label class="label cursor-pointer w-60">
                    <input type="checkbox" checked="checked" class="checkbox" />
                    <span class="label-text"> Certificat d' accouchement</span>
                  </label>
                </div>
                <div class="mb-4  w-60">
                  <label class="label cursor-pointer">
                    <input type="checkbox" checked="checked" class="checkbox" />
                    <span class="label-text">Livrée de Famille</span>
  
                  </label>
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 gap-4">
                <div class="mb-4 w-60">
                  <label class="label cursor-pointer ">
                    <input type="checkbox" checked="checked" class="checkbox" />
                    <span class="label-text">Photocopie CIN de la mère</span>
  
                  </label>
                </div>
                <div class="mb-4 w-60">
                  <label class="label cursor-pointer ">
                    <input type="checkbox" checked="checked" class="checkbox" />
                    <span class="label-text">Photocopie de CIN declarant</span>
  
                  </label>
                </div>
              </div>
  
           
              <div class="flex p-2 mt-4">
                <button routerLink="/dashboard/premiere-copie" class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-red-700 
            border duration-200 ease-in-out 
            border-red-600 transition">
                      Annuler</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button mat-button matStepperNext (click)="getLastNumPremierCopie()"  class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-teal-600  
            bg-teal-600 
            text-teal-100 
            border duration-200 ease-in-out 
            border-teal-600 transition">Suivant</button>
                  
                </div>
            </div>
       
            </form>
          </mat-step>
          <mat-step [stepControl]="CopieFormGroup">
            <form [formGroup]="CopieFormGroup">
              <ng-template matStepLabel>Information<br>
                <span class="font-normal text-xs text-gray-400">Utile</span>
              </ng-template>
              <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">N° Première Copie</label>
                  <input type="text" readonly formControlName ="idPremierCopie" value="{{CopieFormGroup.value.idPremierCopie}}"  id="idPremierCopie"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir la N° Première Copie" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Déscription</label>
                  <textarea type="text"  formControlName = "description" 
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Prenoms de l'enfant"></textarea>
  
                </div>
  
              </div>
              <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Mention de marge</label>
                  <input type="text" formControlName = "mention" id="mention"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir la Mention" />
  
                </div>
          
  
              </div>
              
  
           
              <div class="flex p-2 mt-4">
                <button mat-button  matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-red-700 
            border duration-200 ease-in-out 
            border-red-600 transition">
                      Annuler</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button mat-button matStepperNext (click)="Step()" class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-teal-600  
            bg-teal-600 
            text-teal-100 
            border duration-200 ease-in-out 
            border-teal-600 transition">Suivant</button>
                  
                </div>
            </div>
       
            </form>
          </mat-step>
          <mat-step [stepControl]="EnfantFormGroup">
            <form [formGroup]="EnfantFormGroup">
              <ng-template matStepLabel >Enfant <br>
                <span class="font-normal text-xs text-gray-400">Information personnel </span>
              </ng-template>
              <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Nom de l'enfant</label>
                  <input type="text" formControlName = "nomEnfant" id="nomEnfant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir nom de l'enfant" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Prenoms de l'enfant</label>
                  <input type="text"  formControlName = "prenomsEnfant" 
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Prenoms de l'enfant" />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Date de Naissance</label>
                  <input type="date" formControlName = "datenaissEnfant" id="dateEnfant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Date de Naissance l'enfant" />
                 
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Heure de naissance</label>
                <input type="time"  formControlName = "heurenaissEnfant" id="heureEnfant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir heure de Naissance de l'enfant" />
                </div>
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Lieu de Naissance</label>
                  <input type="text"  formControlName="lieunaissEnfant" id="lieunaissEnfant"
                     class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Lieu de Naissance de l'enfant" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Sexe</label>
  
                  <select formControlName="sexeEnfant" id="sexeEnfant" 
                    class="bg-gray-50 rounded-lg text-md border border-gray-300 block w-full p-2.5">
                    <option selected disabled>Choisir le Sexe</option>
                    <option value="fille">Fille</option>
                    <option value="garcon">Garçon</option>
                  </select>
                </div>
              </div>
              <div class="flex p-2 mt-4">
                <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">Prècedent</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button (click)="FirstStep()" mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
           
                    hover:bg-teal-600  
            bg-teal-600 
            text-teal-100 
            border duration-200 ease-in-out 
            border-teal-600 transition">Suivant</button>
                    
                </div>
            </div>
              <div>
  
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="MereFormGroup">
            <form [formGroup]="MereFormGroup">
              <ng-template matStepLabel> Mère <br>
                <span class="font-normal text-xs text-gray-400">Information personnel</span>
              </ng-template>
  
  
              <div class=" lg:grid md:grid-flow-col grid-cols-2  mt-2 gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Nom </label>
                  <input type="text" formControlName="nomMere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Nom du mère" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Prenoms </label>
                  <input type="text" formControlName="prenomsMere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Prènoms du mère" />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Date de Naissance</label>
                  <input type="date" formControlName="datenaissMere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Date de Naissance du mère" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Lieu de Naissance</label>
                  <input type="text" formControlName="lieuNaissMere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Lieu de Naissance du Mère " />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Profession</label>
                  <input type="text" formControlName="professionMere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Proffesion du Mère " />
  
                </div>
                <div class="mb-4 w-4/5">
                  <label class="block mb-2 text-sm font-bold text-black">Adresse Exacte</label>
                  <input type="text" formControlName="adresseMere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Adresse du Mère" />
                </div>
  
              </div>
              <div class="flex p-2 mt-4">
                <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">Prècedent</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button (click)="SecondStep()"  mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-teal-600  
            bg-teal-600 
            text-teal-100 
            border duration-200 ease-in-out 
            border-teal-600 transition">Suivant</button>
                    
                </div>
            </div>
            </form>
  
          </mat-step>
          <mat-step [stepControl]="PereFormGroup">
            <form [formGroup]="PereFormGroup">
              <ng-template matStepLabel> Père <br>
                <span class="font-normal text-xs text-gray-400">Information personnel</span>
              </ng-template>
              <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Nom </label>
                  <input type="text" formControlName="nomPere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Nom du père" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Prenoms </label>
                  <input type="text" formControlName="prenomsPere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Prènoms du père" />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Date de Naissance</label>
                  <input type="date" formControlName="datenaissPere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Date de Naissance du père" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Lieu de Naissance</label>
                  <input type="text" formControlName="lieuNaissPere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Lieu de Naissance du père " />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Profession</label>
                  <input type="text" formControlName="professionPere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Proffesion du père " />
  
                </div>
                <div class="mb-4 w-4/5">
                  <label class="block mb-2 text-sm font-bold text-black">Adresse Exacte</label>
                  <input type="text" formControlName="adressePere"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Adresse du père" />
                </div>
  
              </div>
              <div class="flex p-2 mt-4">
                <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">Prècedent</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button (click)="ThirtyStep()" mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-teal-600  
            bg-teal-600 
            text-teal-100 
            border duration-200 ease-in-out 
            border-teal-600 transition">Suivant</button>
                    
                </div>
                </div>
            </form>
  
          </mat-step>
          <mat-step [stepControl]="DeclarantFormGroup">
            <form [formGroup]="DeclarantFormGroup">
              <ng-template matStepLabel> Declarante <br>
                <span class="font-normal text-xs text-gray-400">Information personnel</span>
              </ng-template>
              <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Nom </label>
                  <input type="text" formControlName="nomDeclarant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Nom du Declarante" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Prenoms </label>
                  <input type="text" formControlName="prenomsDeclarant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Prènoms du Declarante" />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Date de Naissance</label>
                  <input type="date" formControlName="datenaissDeclarant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Date de Naissance du Declarante" />
  
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Lieu de Naissance</label>
                  <input type="text" formControlName="lieuNaissDeclarant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Lieu de Naissance du Declarante " />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
             
                <div class="mb-4 w-4/5">
                  <label class="block mb-2 text-sm font-bold text-black">Adresse Exacte</label>
                  <input type="text" formControlName="adressDeclarant"
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Adresse du Declarante" />
                </div>
  
              </div>
              <div class="flex p-2 mt-4">
                <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">Prècedent</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button (click)="FortyStep()" mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-teal-600  
            bg-teal-600 
            text-teal-100 
            border duration-200 ease-in-out 
            border-teal-600 transition">Suivant</button>
                    
                </div>
            </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="MaireFormGroup">
            <form [formGroup]="MaireFormGroup">
              <ng-template matStepLabel> Maire <br>
                <span class="font-normal text-xs text-gray-400">Information personnel</span>
              </ng-template>
              <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <mat-form-field appearance="fill">
                    <mat-label>Nom du Maire</mat-label>
                    <mat-select formControlName="idMaire" name="Nom du Maire" (selectionChange)="onSelected($event.value)">
                      <mat-option *ngFor="let maires of maire" [value]="maires.idMaire"   >
                        {{maires.nomMaire}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                
                </div>
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Prenoms </label>
                  <input type="text" formControlName="prenomsMaire" value="{{MaireFormGroup.value.prenomsMaire}}" readonly
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Prènoms du Maire" />
  
                </div>
  
              </div>
              <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
                <div class="mb-4 w-4/5">
  
                  <label class="block mb-2 text-sm font-bold text-black">Fonction</label>
                  <input type="text" formControlName="fonction" id="fonction" value="{{MaireFormGroup.value.fonction}}" readonly
                    class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                    placeholder="Saisir Fonction du Maire" />
  
                </div>
              </div>
  
              <div class="flex p-2 mt-4">
                <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">Prècedent</button>
                <div class="flex-auto flex flex-row-reverse">
                    <button   (click)="openDialog()"
                    mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-blue-600  
            bg-blue-600 
            text-blue-100 
            border duration-200 ease-in-out 
            border-blue-600 transition">Sauvegarder</button>
                    
                </div>
            </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>

        </div>
        </div>
    

    
    