<div class="mx-auto px-4 py-2 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white uppercase">Première Copie</h3>
      <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
        <a href="" class="hover:text-primary-500"> Bureau Etat Civil</a>
        <span>- Service de Traitement des Actes de Naissances</span>
      </div>
    </div>
    <div class="inline-block space-x-2">
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
        Acceuil
      </button>
      <span class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400">>></span>
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
        ...
      </button>
      <span class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400">>></span>

      <button
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
        Formulaire Première Copie
      </button>
    </div>
  </div>



  <div class="flex-col rounded-lg bg-white mt-5 px-3 py-3 dark:bg-night-700 sm:flex-row">
    <div class="my-3 flex items-center justify-between">
      <div class="flex-col items-center">
        <h3 class="text-md font-semibold pl-5 text-gray-900 dark:text-night-50">Formulaire à remplir pour l'ajoute de la
          première copie</h3>
      </div>

</div>
 

    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="PiecesFormGroup">
        <form [formGroup]="PiecesFormGroup">
          <ng-template matStepLabel> Dossier <br>
            <span class="font-normal text-xs text-gray-400">Check Dossier</span>
          </ng-template>
          <div class="lg:grid md:grid-flow-col grid-cols-2 gap-4 mt-20">
            <div class="mb-4  w-60">
              <label class="label cursor-pointer w-60">
                <input type="checkbox" checked="checked" class="checkbox" />
                <span class="label-text"> Certificat d' accouchement</span>
              </label>
            </div>
            <div class="mb-4  w-60">
              <label class="label cursor-pointer">
                <input type="checkbox" checked="checked" class="checkbox" />
                <span class="label-text">Livrée de Famille</span>

              </label>
            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 gap-4">
            <div class="mb-4 w-60">
              <label class="label cursor-pointer ">
                <input type="checkbox" checked="checked" class="checkbox" />
                <span class="label-text">Photocopie CIN de la mère</span>

              </label>
            </div>
            <div class="mb-4 w-60">
              <label class="label cursor-pointer ">
                <input type="checkbox" checked="checked" class="checkbox" />
                <span class="label-text">Photocopie de CIN declarant</span>

              </label>
            </div>
          </div>


          <div class="flex p-2 mt-4">
            <button routerLink="/dashboard/premiere-copie" class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-gray-200  
    bg-gray-100 
    text-red-700 
    border duration-200 ease-in-out 
    border-red-600 transition">
              Annuler</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button  matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-teal-600  
    bg-teal-600 
    text-teal-100 
    border duration-200 ease-in-out 
    border-teal-600 transition">Suivant</button>

            </div>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="EnfantFormGroup">
        <form [formGroup]="EnfantFormGroup">
          <ng-template matStepLabel> Première copie<br>
            <span class="font-normal text-xs text-gray-400">Recuperer Premiere Copie</span>
          </ng-template>

        
        <div class="wrapper">
          <mat-form-field class="example-full-width">
            <mat-label>Recherche par Numèro de Copie</mat-label>
            <input matInput [(ngModel)]="selectedMovie" [matAutocomplete]="auto"
              [formControl]="searchMoviesCtrl" placeholder="Saisir la Numèro de Copie">
            <button *ngIf="selectedMovie" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
    
            </button>
            <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()"
              [displayWith]="displayWith">
              <mat-option *ngIf="isLoading" class="is-loading">Chargement...</mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let movie of filteredMovies" [value]="movie">
                  <span><b>{{movie.idPremierCopie}}</b> ({{movie.enfant.nomEnfant}})</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
    
          <br>
    
          <ng-container *ngIf="errorMsg; else elseTemplate">
            {{errorMsg}}
          </ng-container>
          <ng-template #elseTemplate>
  
            <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4"  *ngIf="selectedMovie?.idPremierCopie">
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black">Nom de l'enfant</label>
                <input type="text"  readonly value="{{selectedMovie?.enfant.nomEnfant}}"
                  class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder="Saisir nom de l'enfant" />

              </div>
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black">Prenoms de l'enfant</label>
                <input type="text"  readonly   value="{{selectedMovie?.enfant.prenomsEnfant}}"
                  class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder="Saisir Prenoms de l'enfant" />

              </div>

            </div>
            <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black">Date de Naissance</label>
                <input type="text" readonly  value="{{selectedMovie?.idPremierCopie}}"
                  class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder="Saisir Date de Naissance l'enfant" />

              </div>
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black">Heure de naissance</label>
                <input type="text"  readonly value="{{selectedMovie?.idPremierCopie}}"
                  class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder="Saisir heure de Naissancede l'enfant" />

              </div>
            </div>
            <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black">Lieu de Naissance</label>
                <input type="text"  formControlName="lieunaissEnfant" id="lieunaissEnfant"  value="{{selectedMovie?.idPremierCopie}}"
                   class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder="Saisir Lieu de Naissance de l'enfant" />

              </div>
         
            </div>
        
          </ng-template>
    
        </div>

        <div class="flex p-2 mt-4">
          <button mat-button  matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
      hover:bg-gray-200  
      bg-gray-100 
      text-red-700 
      border duration-200 ease-in-out 
      border-red-600 transition">
                Annuler</button>
          <div class="flex-auto flex flex-row-reverse">
              <button mat-button (click)="FirstStep()" matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
      hover:bg-teal-600  
      bg-teal-600 
      text-teal-100 
      border duration-200 ease-in-out 
      border-teal-600 transition">Suivant</button>
            
          </div>
      </div>

        </form>

      </mat-step>

      <mat-step [stepControl]="AdoptionFormGroup">
        <form [formGroup]="AdoptionFormGroup" >
          <ng-template matStepLabel>  Adoption <br>
            <span class="font-normal text-xs text-gray-400">Information adoption</span>
          </ng-template>
          <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">Numero d'adoption</label>
              <input type="text"  formControlName = "numAdoption" 
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="Saisir Numero d'adoption" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">Parent Adoptif</label>
              <input type="text" formControlName = "parentAdoptif" id="parentAdoptif"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="Saisir Parents adoptifs" />

            </div>
           

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">Date d'adoption</label>
              <input type="date" formControlName = "dateAdoption" id="dateAdoption"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="Saisir Date d'adoption" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">Heure d'adoption</label>
              <input type="time"  formControlName = "heureAdoption" id="heureAdoption"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="Saisir heure d'adoption" />

            </div>
          </div>
          <div class="flex p-2 mt-4">
            <button mat-button  matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-red-700 
        border duration-200 ease-in-out 
        border-red-600 transition">
                  Annuler</button>
            <div class="flex-auto flex flex-row-reverse">
              <button   (click)="openDialog()"
              mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
      hover:bg-blue-600  
      bg-blue-600 
      text-blue-100 
      border duration-200 ease-in-out 
      border-blue-600 transition">Sauvegarder</button>
              
            </div>
        </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>


  </div>
</div>