<div class="mx-auto px-4 py-2 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white uppercase">
        Bulletin de Naissance
      </h3>
      <div
        class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300"
      >
        <a href="" class="hover:text-primary-500"> Bureau Etat Civil</a>
        <span>- Service de Traitement des Actes de Naissances</span>
      </div>
    </div>
    <div class="inline-block space-x-2">
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500"
      >
        Acceuil
      </button>
      <span
        class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400"
        >>></span
      >
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500"
      >
        Naissance
      </button>
      <span
        class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400"
        >>></span
      >
      <button
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600"
      >
        Bulletin de Naissance
      </button>
    </div>
  </div>

  <div
    class="flex-col rounded-lg bg-white mt-5 px-3 py-3 dark:bg-night-700 sm:flex-row"
  >
    <div class="mb-1 flex items-center justify-between">
      <div class="flex-col items-center">
        <h3 class="text-md font-bold pl-5 text-gray-900 dark:text-night-50">
          Liste des tous les Bulletins de Naissance
        </h3>
      </div>
      <mat-form-field>
        <mat-label>Recherche...</mat-label>
        <input matInput (keyup)="applyFilter($any($event.target).value)" />
        <mat-icon matSuffix>
          <div
            class="absolute inset-y-0 -left-2 bottom-3 flex items-center pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
          </div>
        </mat-icon>
      </mat-form-field>
      <div class="flex bg-white p-4">
        <button
          routerLink="/dashboard/bulletin-naissance-add"
          class="shadow-md inline-flex items-center px-4 py-4 bg-lime-500 hover:bg-gray-300 text-gray-800 text-sm font-medium rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            />
          </svg>

          Ajouter une nouvelle
        </button>
      </div>
    </div>

    <!-- <app-mat-table *ngIf="tableData && tableData.length >0" [search]="search"
    [tableColumns]="tableColumns"
    [tableData]="tableData" >

      <button mat-icon-button
      class="btn btn-sm font-normal lowercase modal-button text-xs bg-green-700 px-4 py-2 text-white rounded-md mr-2" (click)="AskRow($event)">Demande</button>
     
  </app-mat-table>
    <p *ngIf="!tableData || tableData.length === 0"><app-loading></app-loading></p> -->

    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.idBulletinNaissance }}
        </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="datenaiss">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Date de Naissance
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.nomPersonne }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nom et Prènoms
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.prenomsPersonne }} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="dateenregistrement">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Date d'Enregistrement
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.dateCopie }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <label
            class="btn btn-sm font-normal lowercase modal-button text-xs bg-blue-600 px-4 py-2 text-white rounded-md mr-2"
            for="my-modal"
          >
            voir
          </label>
          <button
            mat-icon-button
            class="btn btn-sm font-normal lowercase text-xs bg-green-600 px-4 py-2 text-white rounded-md mr-2"
          >
            editer
          </button>
          <!-- <button mat-icon-button
              class="btn btn-sm font-normal lowercase text-xs bg-red-600 px-4 py-2 text-white rounded-md"
              >
            supprimer
            </button> -->
          <button
            mat-icon-button
            (click)="AskRow(row)"
            class="btn btn-sm font-normal lowercase modal-button text-xs bg-orange-500 px-4 py-2 text-white rounded-md mr-2"
          >
            Demande
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <mat-paginator
      (page)="pageChange($event)"
      [pageSizeOptions]="[10, 20, 1, 5, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<div
  *ngIf="Opendemande"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity">
    <div class="fixed overflow-y-auto inset-0 z-10">
      <div
        class="block h-full w-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <button
          class="hover:bg-red-500 text-white font-bold py-2 px-4 rounded-full absolute bg-red-700 lg:h-10 lg:max-w-[8%] right-2 top-2"
        >
          x
        </button>
        <div class="w-2/3 block mx-10 pt-10 svelte-1l8159u">
          <div
            class="bg-white my-2 p-1 block border border-gray-200 rounded svelte-1l8159u"
          >
            <input
              placeholder="Saisir ici le nombre de Bulletin de naissance"
              class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
              [(ngModel)]="nombre"
              name="nombre"
            />
          </div>
        </div>
        <button
          (click)="exitDialog()"
          class="shadow-md inline-flex items-center px-4 py-2 mr-5 bg-red-400 hover:bg-red-200 text-gray-800 text-sm font-medium rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
            />
          </svg>

          Annuler
        </button>
        <button
          (click)="nextDialog(nombre)"
          class="shadow-md inline-flex items-center px-4 py-2 bg-green-400 hover:bg-teal-600 text-gray-800 text-sm font-medium rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            />
          </svg>

          Suivant
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="nombre != 0 && Opendemande == false"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity">
    <div class="fixed overflow-y-auto inset-0 z-10">
      <div
        class="flex-1 h-full w-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <button
          class="shadow-md inline-flex items-center px-4 py-2 bg-red-200 hover:bg-red-600 text-gray-800 text-sm font-medium rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
            />
          </svg>

          Cliquer pour télecharger
        </button>
        <button
          class="shadow-md inline-flex items-center px-4 py-2 bg-green-400 hover:bg-teal-600 text-gray-800 text-sm font-medium rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            />
          </svg>

          Cliquer pour imprimer
        </button>
        <button
          class="hover:bg-red-500 text-white font-bold py-2 px-4 rounded-full absolute bg-red-700 lg:h-10 lg:max-w-[8%] right-2 top-2"
          (click)="exitDialog()"
        >
          x
        </button>
        <app-bulletin-naissance [bulletin]="bulletin"></app-bulletin-naissance>
      </div>
    </div>
  </div>
</div>
