
<div class=" bg-gray-100 flex justify-center items-center ">
	<div class="container mx-auto bg-yellow-300 rounded-lg p-10 pt-3">
		<form>
			<h1 class="text-center mx-auto font-bold text-white text-2xl">Recherche dans la registre votre Copie</h1>
				<p class="mx-auto font-normal text-sm my-6 max-w-lg">Effectuer une recherche en saisant votre numèro de copie ou Nom et Prènoms </p>
				<div class="sm:flex items-center bg-white rounded-lg overflow-hidden px-2 py-1 justify-between">
					<input class="text-base text-gray-400 flex-grow outline-none px-2 " type="text" placeholder="Saisir ici votre numèro de Copie ou Nom " />
					<div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto ">
					
						<button class="bg-indigo-500 text-white text-base rounded-lg px-4 py-2 font-bold">Recherche</button>
					</div>
				</div>
		</form>
	</div>
</div>

<div>
	<mat-accordion>
		<mat-expansion-panel hideToggle>
		  <mat-expansion-panel-header>
			<mat-panel-title>
			  This is the expansion title
			</mat-panel-title>
			<mat-panel-description>
			  This is a summary of the content
			</mat-panel-description>
		  </mat-expansion-panel-header>
		  <p>This is the primary content of the panel.</p>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true"
							 (closed)="panelOpenState = false">
		  <mat-expansion-panel-header>
			<mat-panel-title>
			  Self aware panel
			</mat-panel-title>
			<mat-panel-description>
			  Currently I am {{panelOpenState ? 'open' : 'closed'}}
			</mat-panel-description>
		  </mat-expansion-panel-header>
		  <p>I'm visible because I am open</p>
		</mat-expansion-panel>
	  </mat-accordion>
	  

</div>
