
<div class=" bg-gray-100 flex justify-center items-center ">
	<div class="container mx-auto bg-yellow-300 rounded-lg p-10 pt-3">
		<form>
			<h1 class="text-center mx-auto font-bold text-white text-2xl">Recherche dans la registre votre Copie</h1>
				<p class="mx-auto font-normal text-sm my-6 max-w-lg">Effectuer une recherche en saisant votre numèro de copie ou Nom et Prènoms </p>
				<div class="sm:flex items-center bg-white rounded-lg overflow-hidden px-2 py-1 justify-between">
					<input class="text-base text-gray-400 flex-grow outline-none px-2 " type="text" placeholder="Saisir ici votre numèro de Copie ou Nom " />
					<div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto ">
					
						<button class="bg-indigo-500 text-white text-base rounded-lg px-4 py-2 font-bold">Recherche</button>
					</div>
				</div>
		</form>
	</div>
</div>