<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white uppercase">
        {{ "Naissance" | transloco }}
      </h3>
      <div
        class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300"
      >
        <a
          routerLink="/dashboard/premiere-copie"
          class="hover:text-primary-500"
        >
          {{ "BureauEtatCivil" | transloco }}</a
        >
        <span>- {{ "serviceActeNaiss" | transloco }}</span>
      </div>
    </div>
    <div class="inline-block space-x-4">
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500"
      >
        {{ "Acceuil" | transloco }}
      </button>
      <span
        class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400"
        >>></span
      >
      <button
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600"
      >
        Tableau de bord
      </button>
    </div>
  </div>

  <div
    class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4"
  >
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-red-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/premiere-copie"
              class="text-5xl font-semibold text-red-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiquePremierCopie }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ "1ereCopie" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-yellow-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/adoption-naissance"
              class="text-5xl font-semibold text-yellow-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueAdoption }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ "Adoption" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-green-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/jugement-naissance"
              class="text-5xl font-semibold text-green-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueJugement }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ "Jugement" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-blue-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/reconnaissance-naissance"
              class="text-5xl font-semibold text-blue-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueReconaissance }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ "Reconnaissance" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4"
  >
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white mt-2 py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-red-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/bulletin-naissance-list"
              class="text-5xl font-semibold text-red-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueDece }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ " Décés" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white mt-2 py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-red-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/celibat-list"
              class="text-5xl font-semibold text-red-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueCelibat }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ " Celibataire" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex h-[100%] flex-col rounded-lg bg-white mt-2 py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-red-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/mariage-list"
              class="text-5xl font-semibold text-red-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueMariage }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ " Mariage" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex h-[100%] flex-col rounded-lg bg-white mt-2 py-6 px-3 dark:bg-night-700 sm:flex-row"
    >
      <!-- Details  -->
      <div class="flex flex-col justify-between sm:ml-6 md:mt-0">
        <div class="flex items-center space-x-4">
          <a
            class="flex h-[100%] items-center flex-shrink-0 justify-center rounded bg-red-500 p-2 focus:outline-none focus:ring-1"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </a>

          <div class="flex flex-col">
            <a
              routerLink="/dashboard/bulletin-naissance-list"
              class="text-5xl font-semibold text-red-400 hover:text-primary-500 dark:text-night-100"
            >
              {{ statistiqueBulletinDeNaiss }}
            </a>
            <h2 class="text-xs font-semibold text-gray-500 dark:text-night-300">
              {{ "Bulletin" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div
      class="flex-col rounded-lg bg-white mt-5 px-3 py-3 dark:bg-night-700 sm:flex-row"
    >
      <div class="mb-1 flex items-center justify-between">
        <div class="flex-col items-center">
          <h3
            class="text-md font-bold pl-5 text-gray-500 dark:text-night-50 uppercase"
          >
            {{ "historiqueAct" | transloco }}
          </h3>
        </div>
      </div>
      <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Entité" | transloco }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.entity }}
          </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="datenaiss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Opération" | transloco }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.operation }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "modifiepar" | transloco }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.modifiedBy }} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="dateenregistrement">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "modifieLe" | transloco }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.modifiedAt | date : "dd/MM/yyyy hh:mm" }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>

      <!-- <mat-paginator
      (page)="pageChange($event)"
      [pageSizeOptions]="[10, 20, 1, 5, 50]"
      showFirstLastButtons
    ></mat-paginator> -->
    </div>
</div>
