<div class="section__contentt">
  <div class="timeline">
     
    <div class="timeline__content">

    
      <span
        *ngIf="mention.type['adoption'] != '' && mention.type['jugement'] != '' && mention.type['reconnaissance'] != '' ">


        <p *ngIf="mention.type == 'reconnaissance'">
            <app-reconnaissance-mention [reconnaissance]="mention"></app-reconnaissance-mention>
        </p>
        <p *ngIf="mention.type == 'jugement'">
          <app-jugement-mention [jugement]="mention"></app-jugement-mention>
        </p>

        <p *ngIf="mention.type == 'adoption'">
          <app-adoption-mention [adoption]="mention"></app-adoption-mention>
        </p>


      </span>

    </div>
  </div>
</div>