.mat-table {
    font-family: 'Poppins', 'system-ui', 'sans-serif';
}

table {
    width: 100%;
}

.tableau {
    min-height: 400px
}

.width {
    max-width: 75%
}
  


form {
    font-family: 'Roboto', 'Merriweather', sans-serif;
    font-size: 16px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
}
  

.page {
    position: relative;
    width: auto;
   
    padding: 15mm 8mm 0mm 20mm;
}


.heading {
    display: inline-block;
    font-size: 8px;
    color: #010608;
    padding: 2px;
    border: 2px black solid;
}


