<div class="mx-auto px-4 py-2 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white uppercase">
        Première Copie
      </h3>
      <div
        class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300"
      >
        <a href="" class="hover:text-primary-500"> Bureau Etat Civil</a>
        <span>- Service de Traitement des Actes de Naissances</span>
      </div>
    </div>
    <div class="inline-block space-x-2">
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500"
      >
        Acceuil
      </button>
      <span
        class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400"
        >>></span
      >
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500"
      >
        Naissance
      </button>
      <span
        class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400"
        >>></span
      >
      <button
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600"
      >
        Première Copie
      </button>
    </div>
  </div>

  <div
    class="flex-col rounded-lg bg-white mt-5 px-3 py-3 dark:bg-night-700 sm:flex-row"
  >
    <div class="mb-1 flex items-center justify-between">
      <div class="flex-col items-center">
        <h3 class="text-md font-bold pl-5 text-gray-900 dark:text-night-50">
          Liste Des Copies Premières effectués
        </h3>
      </div>
      <mat-form-field>
        <mat-label>Recherche...</mat-label>
        <input matInput (keyup)="applyFilter($any($event.target).value)" />
        <mat-icon matSuffix>
          <div
            class="absolute inset-y-0 -left-2 bottom-3 flex items-center pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg></div
        ></mat-icon>
      </mat-form-field>
      <div class="flex bg-white p-4">
        <button
          routerLink="/dashboard/add-naissance"
          class="shadow-md inline-flex items-center px-4 py-4 bg-blue-200 hover:bg-gray-300 text-gray-800 text-sm font-medium rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            />
          </svg>

          Ajouter une nouvelle
        </button>
      </div>
    </div>





  <app-mat-table *ngIf="data && data.length > 0"  [data]="data"  [columns]="columns" ></app-mat-table>
 
  <p *ngIf="!data || data.length === 0">No data available</p>
  </div>
</div>

<!-- <div *ngIf="showModal" class="  w-[100%] max-h-full  bg-slate-900 overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
          <div class="relative mx-auto">
           
            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
             
              <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                <h3 class="text-3xl font-semibold">
                  Modal Title
                </h3>
                <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                  <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                    ×
                  </span>
                </button>
              </div>
             
              <div class="relative p-6 flex-auto">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-2">
                  <div class="page" id="htmlData">
                    <header>
                      <h1 class="heading">Teny midina faha-788-MJ/CAB <br> tamin'ny 29 Desambra 1961 nataon'ny <br> Ministry ny
                        Fitsarana sy ny Mpitahiry </h1>
                      <img class="repoblika" src="@/../../../../assets/img/Repoblika.jpg" alt="">
                      <img class="bongolava" src="@/../../../../assets/img/bongolava-logo.jpg" alt="">
            
                    </header>
            
            
                    <main class="main">
                      <aside class="main__left">
                        <section class="section">
            
                          <img class="commune" src="@/../../../../assets/img/FIANARANTSOA.png" alt="">
            
                          <p class="kaominina">Kaominina Andrenivohitra Fianarantsoa</p>
            
                          <p class="section__title my-5">Faha : 451</p>
            
                          <p class="section__title mt-5">Tamin'ny <br> <span class="ml-0 pr-10">04 Aprily 2002</span> </p>
            
                          <div class="section__content">
                            <div class="section__entry">
                              <div class="section_title">
                                Fahaterahana
            
                              </div>
                            </div>
                            <div class="section__entry">
                              <div class="section_content font-medium">
                                SEHENONINAINA Amelia
                              </div>
                            </div>
            
                            <div class="section__entry">
                              <div class="section_content ml-5 my-20">
                                01 Aprily 2002
                              </div>
                            </div>
            
                          </div>
                        </section>
            
                        <section class="section">
            
            
                          <div class="section__content">
                            <p class="section__entry">Tsy asiana hajia araka <br>
                              ny and. 416-n'ny CGET</p>
            
                          </div>
                        </section>
            
                        <section class="section">
            
            
                          <div class="section__content">
                            <p class="section__entry font-semibold">Soratra an-tsisiny</p>
            
                          </div>
                        </section>
            
                      </aside>
            
                      <div class="main__right">
                        <section class="section">
                          <p class="faritra">FARITRA BONGOLAVA</p>
                          <div class="timeline__title mt-10 ml-20">
                            <span>KOPIAN'NY SORAM-PIANKOHONANA</span>
                          </div>
                          <div class="section__contentt">
                            <div class="timeline">
                              <div class="timeline__content">
                                <p class="mb-5">
                                  <span class="pl-10">Nalaina tamin'ny bokim-pianakaviana , tamin'ny taona roa sy roa arivo
                                    ,</span>
                                  voatahiry ato amin'ny Kaominina Ambonivohitra Fianarantsoa izao soratra manaraka izao:
                                </p>
                              </div>
                            </div>
                            <div class="timeline">
                              <div class="timeline__content ">
                                <p class="mb-5">
                                  <span class="pl-10">Tamin'ny iray aprily roa arivo </span>, tamin'ny ira ora maraina sy efapolo
                                  minitra,
                                  no teraka tao Amin'ny Trano Fampiterahanan'i Fianarantsoa, SEHENONINAINA Amelia, zazavavy,
                                  zanak'i
                                  RANDRINASOLO Leon
                                  ,Gens de Maison, teraka tamin'ny enina amby ny roapolo febroary taona valopolo sy sivinjato sy
                                  arivo tao Fianarantsoa
                                  , sy RASEHENONIANA Marianna, Cuisinière, teraka tamin'ny enina marsa tao roa vaopolo sy
                                  sivinjato
                                  sy arivo tao Fianarantsoa
                                  , samy monina ao Andrainjato
                                </p>
            
                              </div>
                            </div>
                            <div class="timeline">
                              <div class="timeline__content ">
                                <p class="mb-5">
                                  <span class="pl-10">Nosoratana androany roa aprily </span> taona roa sy roa arivo
                                  tamin'ny valo ora maraina sy folo minitra, araka ny fanamabarana nataon'i RAZANAMASY,
                                  Mampivelona,
                                  teraka
                                  tamin'ny efatra janoary taona telo amby fitopolo sy sivinjato sy arivo tao Antsirabe, monina ao
                                  Ambatomena, izay
                                  miaraka manao sonia aminay. RAKOTOZAFY Urbain, Ben 'ny Tanàna , mpiraikitra ny
                                  soram-piankohonana
                                  ao amin'ny
                                  Commune Urbaine de Fianarantsoa, rehefa novakiana ity soratra ity.
                                </p>
            
                              </div>
                            </div>
                          </div>
            
                          <div class=" text-sm font-normal ml-48">
                            <span>-MANARAKA NY SONIA-</span>
                          </div>
                          <div class="section__contentt">
                            <div class="timeline">
                              <div class="timeline__content">
                                <p class="mb-5">
                                  <span class="pl-10">Kopia manontolo nadika tamin'ny boky androany telo aprily roa sy roa arivo
                                  </span>
                                </p>
                              </div>
                            </div>
                          </div>
            
                          <div class=" text-sm font-normal ml-20">
                            <span>NY MPIANDRAIKITRA NY SORAM-PIANKOHONANA</span>
                          </div>
                        </section>
                      </div>
                    </main>
                  </div>
            
            
                </form>
              </div>
            
              <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
                  Close
                </button>
                <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
                  Save Changes
                </button>
              </div>
            </div>
          </div>
        </div> -->
