* {
  font-size: 17px;
}

.width{
    max-width: 70%;
}

form{
  font-family: 'Roboto', 'Merriweather', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 0;
  box-sizing: border-box;

}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}
.italic-small-font {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}
#RM {
  width: 33%;
  height: 90%;
}


.subhead{
  display: inline-block;
  font-size: 14px;
}

.page{
  position: relative;
  width: auto;
  padding: 0mm 10mm 0mm 10mm;
}
.heading{
  padding: 2%;
  margin-left: 20%;
  display: block;
  font-size: 12px;

  border: 2px rgba(5, 1, 1, 0.879) solid;
}
.summary{
  padding: 3mm 0 5mm;
  font-size: 0.85rem;
  line-height: 1.6;
  text-align: justify;
}
.main{
  display: flex;

}
.main__left{
  width: 55mm;
}
.main__left section{
  margin-bottom: 0.5em;
}
.main__right{
  width: calc(100% - 60mm);
  margin-left: 15mm;
  margin-right: 5mm;
  border-bottom: 1px solid black;
}
.section{
  margin-bottom: 1.2rem;
}
.section:last-child{
  margin-bottom: 0;
}
.section__title{
  font-size: 12px;
  font-weight: 550;
  margin-left: 20%;
  margin-bottom: 20px;
}
.section_date{
  margin-left: 6%;
  padding-bottom: 50%;
}
.section__content{
  position: relative;
  font-size: 0.85rem;
}
.section__contentt{
  position: relative;
  font-size: 0.85rem;
  margin-right: 10%;
  justify-content: center;
}
.section__entry{
  margin-bottom: 1em;
}
.section__entry:last-child{
  margin-bottom: 0;
}
.section_title{
  display: inline-flex;
  font-weight: 550;
  font-size: 14px;
  padding-bottom: 5px;
  justify-content: space-center;
  align-items: flex-center;
  margin-left: 10%;
}
.timeline{
  display: flex;
}
.timeline__date{
  flex-grow: 1;
  width: 18mm;
  line-height: 1.6;
}
.timeline__content{
  width: calc(100% - 2mm);}

  .md-dialog-container {
      background-color:red;
      width: 100%;
      height: 100%
}
