<div class="mx-auto px-4 py-2 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white uppercase">{{'acteMariage'|transloco}} </h3>
      <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
        <a href="" class="hover:text-primary-500"> {{'BureauEtatCivil'|transloco}}</a>
        <span>- {{'serviceActeMariage'|transloco}}</span>
      </div>
    </div>
    <div class="inline-block space-x-2">
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
        {{'Acceuil'|transloco}}
      </button>
      <span class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400">>></span>
      <button
        class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
        ...
      </button>
      <span class="flex-none rounded-md py-2.5 text-xs font-semibold text-night-400">>></span>

      <button
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
        {{'FormulaireActedeMariage'|transloco}}
      </button>
    </div>
  </div>



  <div class="flex-col rounded-lg bg-white mt-5 px-3 py-3 dark:bg-night-700 sm:flex-row">
    <div class="my-3 flex items-center justify-between">
      <div class="flex-col items-center">
        <h3 class="text-md font-semibold pl-5 text-gray-900 dark:text-night-50">
          {{'Formulaireàremplirpourlajoutedelaactedemariage'|transloco}}</h3>
      </div>


    </div>

    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="PiecesFormGroup">
        <form [formGroup]="PiecesFormGroup">
          <ng-template matStepLabel> {{'Maire'|transloco}} <br>
            <span class="font-normal text-xs text-gray-400">{{'Informationpersonnel'|transloco}} </span>
          </ng-template>
          <p class="underline text-sm text-gray-500 mt-5">{{'InformationdeActedeMariage'|transloco}} :</p>

          <div class="lg:grid md:grid-flow-col grid-cols-3 mt-5 gap-4">

            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'NCopieMariage'|transloco}} </label>
              <input type="number" formControlName="idCopieMariage"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder=" {{'SaisirlaNumPremièreCopie'|transloco}} " />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DatedeMariage'|transloco}} </label>
              <input type="text" formControlName="dateCopieMariage"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder=" {{'SaisirPrenomsdelenfant'|transloco}} ">

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'HeuredeMariage'|transloco}} </label>
              <input type="time" formControlName="heureCopieMariage"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenomsdelenfant'|transloco}} ">

            </div>


          </div>
          <form [formGroup]="MaireFormGroup">
            <p class="underline text-sm text-gray-500"> {{ 'InformationdeMaire'|transloco}} :</p>
            <div class=" lg:grid md:grid-flow-col grid-cols-3 mt-5  gap-4">

              <div class="mb-4 w-4/5">

                <mat-form-field appearance="fill" class="w-3/4">
                  <mat-label>{{ 'NomduMaire'|transloco}} </mat-label>
                  <mat-select formControlName="idMaire" name="Nom du Maire"
                    (selectionChange)="MaireSelect($event.value)">
                    <mat-option *ngFor="let maires of maire" [value]="maires.idMaire">
                      {{maires.nomMaire}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black"> {{ 'Prenoms'|transloco}} </label>
                <input type="text" formControlName="prenomsMaire" value="{{MaireFormGroup.value.prenomsMaire}}" readonly
                  class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder=" {{ 'SaisirPrènomsduMaire'|transloco}} " />

              </div>
              <div class="mb-4 w-4/5">

                <label class="block mb-2 text-sm font-bold text-black">{{ 'Fonction'|transloco}} </label>
                <input type="text" formControlName="fonction" id="fonction" value="{{MaireFormGroup.value.fonction}}"
                  readonly class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                  placeholder="{{ 'SaisirFonctionduMaire'|transloco}}" />

              </div>

            </div>

          </form>
          <div class="flex p-2 mt-4">
            <button mat-button routerLink="/dashboard/mariage-list" class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-red-700 
        border duration-200 ease-in-out 
        border-red-600 transition ">{{'Annuler'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button matStepperNext (click)="FirstStep" class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
                hover:bg-teal-600  
                bg-teal-600 
                text-teal-100 
                border duration-200 ease-in-out 
                border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="PiecesFormGroup">
        <form [formGroup]="PiecesFormGroup">
          <ng-template matStepLabel> {{'Personne'|transloco}} <br>
            <span class="font-normal text-xs text-gray-400"> {{'SelectionnerOrigine'|transloco}}</span>
          </ng-template>
          <div class="lg:grid md:grid-flow-col grid-cols-3 gap-4 mt-2">
            <div class="mb-4 w-60">
              <h4 class="font-medium flex">{{'ChoixpourlHomme'|transloco}}</h4>
            </div>
            <div class="mb-4  w-60">
              <mat-form-field appearance="fill">
                <mat-label> {{'Type'|transloco}}</mat-label>
                <mat-select formControlName="typeHomme">
                  <mat-option value="interne"> {{'Interne'|transloco}}</mat-option>
                  <mat-option value="externe">{{'Externe'|transloco}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>


          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
  hover:bg-gray-200  
  bg-gray-100 
  text-red-700 
  border duration-200 ease-in-out 
  border-red-600 transition">
              {{'Precedant'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button (click)="HommeStep()" matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
  hover:bg-teal-600  
  bg-teal-600 
  text-teal-100 
  border duration-200 ease-in-out 
  border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="HommeFormGroup">
        <form [formGroup]="HommeFormGroup" *ngIf="isTypeHomme == true">
          <ng-template matStepLabel> {{'CopieExterne'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400"> {{'RecupererInfoCopie'|transloco}}</span>
          </ng-template>

          <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Nom'|transloco}}</label>
              <input type="text" formControlName="nomHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="  {{'SaisirNom'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Prenoms'|transloco}}</label>
              <input type="text" formControlName="prenomsHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenoms'|transloco}}" />

            </div>


          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{ 'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{ 'SaisirDatedenaissance'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{ 'LieuNaissance'|transloco}}</label>
              <input type="time" formControlName="lieunaissHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{ 'Saisirheuredenaissance'|transloco}}" />

            </div>
          </div>
          
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{ 'Profession'|transloco}}</label>
              <input type="text" formControlName="professionHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{ 'SaisirProfession'|transloco}} " />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{ 'Nationalité'|transloco}}</label>
              <input type="text" formControlName="nationalHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{ 'SaisirNationalite'|transloco}}" />

            </div>
          </div>
          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-gray-200  
    bg-gray-100 
    text-red-700 
    border duration-200 ease-in-out 
    border-red-600 transition">
              {{'Annuler'|transloco}} </button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button (click)="SecondStep()" matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-teal-600  
    bg-teal-600 
    text-teal-100 
    border duration-200 ease-in-out 
    border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>
        </form>
        <form [formGroup]="HommeFormGroup" *ngIf="isTypeHomme == false">
          <ng-template matStepLabel> {{'CopieInterne'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400">{{'RecupererInfoCopie'|transloco}}</span>
          </ng-template>


          <div class="wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>{{'RechercheparNumèrodeCopie'|transloco}}</mat-label>
              <input matInput [(ngModel)]="CopieSelected" [matAutocomplete]="auto" [formControl]="searchCopie"
                placeholder="Saisir la Numèro de Copie">
              <button *ngIf="CopieSelected" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">

              </button>
              <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()">
                <mat-option *ngIf="isLoading" class="is-loading">{{'Chargement'|transloco}}</mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let copie of filteredCopies" [value]="copie">
                    <span><b>{{copie.idPremierCopie}}</b> ({{copie.enfant.nomEnfant}})</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>

            <br>

            <ng-container *ngIf="errorMsg; else elseTemplate">
              {{errorMsg}}
            </ng-container>
            <ng-template #elseTemplate>
              <span *ngIf="CopieSelected?.idPremierCopie">
                <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'Code premier Copier'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.idPremierCopie}}"
                      class="bg-gray-50 block uppercase w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirNomEnfant'|transloco}}" />

                  </div>
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'Date de naissance'|transloco}}</label>
                    <input type="date" readonly value="{{CopieSelected?.enfant.datenaissEnfant}}"
                      class="bg-gray-50 block capitalize w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirPrenomsEnfant'|transloco}}" />

                  </div>

                </div>
                <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'Nomenfant'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant.nomEnfant}}"
                      class="bg-gray-50 block uppercase w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirNomEnfant'|transloco}}" />

                  </div>
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'Prenomsenfant'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant.prenomsEnfant}}"
                      class="bg-gray-50 block capitalize w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirPrenomsEnfant'|transloco}}" />

                  </div>

                </div>
                
                <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant?.datenaissEnfant}}"
                      class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirDatedenaissanceEnfant'|transloco}}" />

                  </div>

                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant?.lieunaissEnfant}}"
                      class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirLieuNaissanceEnfant'|transloco}}" />

                  </div>
                </div>
                <span [hidden]="!CopieSelected.idPremierCopie">
                  <p class="underline text-sm text-gray-500"> {{'InformationutileHomme'|transloco}}:</p>

                  <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                    <div class="mb-4 w-4/5">

                      <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
                      <input type="text" formControlName="professionHomme"
                        class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border" />

                    </div>

                    <div class="mb-4 w-4/5">

                      <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
                      <input type="text" formControlName="adresseHomme"
                        class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border" />

                    </div>

                  </div>
                </span>
              </span>


            </ng-template>

          </div>


          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">{{'Prècedent'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button (click)="SecondHommeInterne()" matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-teal-600  
    bg-teal-600 
    text-teal-100 
    border duration-200 ease-in-out 
    border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>

        </form>

      </mat-step>

      <mat-step [stepControl]="MereHommeFormGroup" *ngIf="isTypeHomme == true">
        <form [formGroup]="MereHommeFormGroup">
          <ng-template *ngIf="isTypeHomme == true" matStepLabel> {{'Mère'|transloco}} <br>
            <span class="font-normal text-xs text-gray-400">{{'Informationpersonnel'|transloco}}</span>
          </ng-template>


          <div class=" lg:grid md:grid-flow-col grid-cols-2  mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Nom'|transloco}}</label>
              <input type="text" formControlName="nomMere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNomMere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Prenoms'|transloco}}</label>
              <input type="text" formControlName="prenomsMere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenomsMere'|transloco}}" />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissMere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissanceMere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="text" formControlName="lieuNaissMere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirLieuNaissanceMere'|transloco}} " />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
              <input type="text" formControlName="professionMere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProffessionMere'|transloco}} " />

            </div>
            <div class="mb-4 w-4/5">
              <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
              <input type="text" formControlName="adressMere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirAdresseMere'|transloco}}" />
            </div>

          </div>
          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">{{'Prècedent'|transloco}}</button>

            <div class="flex-auto flex flex-row-reverse">
              <button mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-600  
        bg-teal-600 
        text-teal-100 
        border duration-200 ease-in-out 
        border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>
        </form>

      </mat-step>

      <mat-step [stepControl]="PereHommeFormGroup" *ngIf="isTypeHomme == true">
        <form [formGroup]="PereHommeFormGroup">
          <ng-template *ngIf="isTypeHomme == true" matStepLabel> {{'Père'|transloco}} <br>
            <span class="font-normal text-xs text-gray-400">{{'Informationpersonnel'|transloco}}</span>
          </ng-template>


          <div class=" lg:grid md:grid-flow-col grid-cols-2  mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Nom'|transloco}} </label>
              <input type="text" formControlName="nomPere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNomPere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Prenoms'|transloco}} </label>
              <input type="text" formControlName="prenomsPere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenomsPere'|transloco}}" />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissPere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissancePere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="text" formControlName="lieuNaissPere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirLieuNaissancePere'|transloco}}" />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
              <input type="text" formControlName="professionPere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProffessionPere'|transloco}} " />

            </div>
            <div class="mb-4 w-4/5">
              <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
              <input type="text" formControlName="adressPere"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirAdressePere'|transloco}}" />
            </div>

          </div>
          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-gray-700 
        border duration-200 ease-in-out 
        border-gray-600 transition">{{'Prècedent'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-600  
        bg-teal-600 
        text-teal-100 
        border duration-200 ease-in-out 
        border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>
        </form>

      </mat-step>

      <mat-step [stepControl]="TemoinHommeGroup">
        <form [formGroup]="TemoinHommeGroup">
          <ng-template matStepLabel>{{'TemoindelaHomme'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400">{{'InformationtemoinHomme'|transloco}}</span>
          </ng-template>
          <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Nom'|transloco}}</label>
              <input type="text" formControlName="nomTemoinHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNomdeTémoin'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Prenoms'|transloco}}</label>
              <input type="text" formControlName="prenomsTemoinHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrènomdeTémoin'|transloco}}" />

            </div>


          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissTemoinHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissance'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="text" formControlName="lieunaissTemoinHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirLieunaissance'|transloco}}" />

            </div>
          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
              <input type="text" formControlName="adresseTemoinHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirAdresseExact'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
              <input type="text" formControlName="professionTemoinHomme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProfession'|transloco}}" />

            </div>
          </div>
          <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
          hover:bg-gray-200  
          bg-gray-100 
          text-gray-700 
          border duration-200 ease-in-out 
          border-gray-600 transition">{{'Prècedent'|transloco}}</button>
          <div class="flex-auto flex flex-row-reverse">
            <button mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-blue-600  
    bg-blue-600 
    text-blue-100 
    border duration-200 ease-in-out 
    border-blue-600 transition">{{'Sauvegarder'|transloco}}</button>

          </div>

        </form>
      </mat-step>


      <!-- INFORMATION FEMMME  -->

      <mat-step [stepControl]="PiecesFormGroup">
        <form [formGroup]="PiecesFormGroup">
          <ng-template matStepLabel> {{'Personne'|transloco}} <br>
            <span class="font-normal text-xs text-gray-400">{{'SelectionnerOrigine'|transloco}}</span>
          </ng-template>


          <div class="lg:grid md:grid-flow-col grid-cols-3 gap-4 mt-5">
            <div class="mx-4 align-middle w-60">
              <p class="font-medium flex">{{'ChoixpourFemme'|transloco}}</p>
            </div>

            <div class="mb-4  w-60">
              <mat-form-field appearance="fill">
                <mat-label>{{'Type'|transloco}}</mat-label>
                <mat-select formControlName="typeFemme">
                  <mat-option value="interne">{{'Interne'|transloco}}</mat-option>
                  <mat-option value="externe">{{'Externe'|transloco}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">{{'Prècedent'|transloco}}</button>

            <div class="flex-auto flex flex-row-reverse">
              <button mat-button (click)="FemmeStep()" matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
  hover:bg-teal-600  
  bg-teal-600 
  text-teal-100 
  border duration-200 ease-in-out 
  border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="FemmeFormGroup">
        <form [formGroup]="FemmeFormGroup" *ngIf="isTypeFemme == true">
          <ng-template matStepLabel> {{'CopieExterne'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400">{{'RecupererInfoCopie'|transloco}}</span>
          </ng-template>

          <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Nom'|transloco}}</label>
              <input type="text" formControlName="nomFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNom'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Prenoms'|transloco}}</label>
              <input type="text" formControlName="prenomsFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenoms'|transloco}}" />

            </div>


          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissance'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="time" formControlName="lieunaissFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'Saisirheuredenaissance'|transloco}}" />

            </div>
          </div>

          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
              <input type="text" formControlName="professionFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProfession'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Nationalité'|transloco}}</label>
              <input type="text" formControlName="nationalFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNationalite'|transloco}}" />

            </div>
          </div>

          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">{{'Prècedent'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-teal-600  
    bg-teal-600 
    text-teal-100 
    border duration-200 ease-in-out 
    border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>

        </form>
        <form [formGroup]="FemmeFormGroup" *ngIf="isTypeFemme == false">
          <ng-template matStepLabel>{{'CopieInterne'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400">{{'RecupererInfoCopie'|transloco}}</span>
          </ng-template>


          <div class="wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>{{'RechercheparNumèrodeCopie'|transloco}}</mat-label>
              <input matInput [(ngModel)]="CopieSelected" [matAutocomplete]="auto" [formControl]="searchCopie"
                placeholder="Saisir la Numèro de Copie">
              <button *ngIf="CopieSelected" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">

              </button>
              <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()">
                <mat-option *ngIf="isLoading" class="is-loading">{{'Chargement'|transloco}}...</mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let copie of filteredCopies" [value]="copie">
                    <span><b>{{copie.idPremierCopie}}</b> ({{copie.enfant.nomEnfant}})</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>

            <br>


            <ng-container *ngIf="errorMsg; else elseTemplate">
              {{errorMsg}}
            </ng-container>
            <ng-template #elseTemplate>
              <span *ngIf="CopieSelected?.idPremierCopie">
                <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'Nomenfant'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant.nomEnfant}}"
                      class="bg-gray-50 block uppercase w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirNomEnfant'|transloco}}" />

                  </div>
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'Prenomsenfant'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant.prenomsEnfant}}"
                      class="bg-gray-50 block capitalize w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirPrenoms'|transloco}}" />

                  </div>

                </div>
                <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant?.datenaissEnfant}}"
                      class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirDatedenaissanceEnfant'|transloco}}" />

                  </div>

                  <div class="mb-4 w-4/5">

                    <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
                    <input type="text" readonly value="{{CopieSelected?.enfant?.lieunaissEnfant}}"
                      class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                      placeholder="{{'SaisirLieuNaissanceEnfant'|transloco}}" />

                  </div>
                </div>
                <span [hidden]="!CopieSelected.idPremierCopie">
                  <p class="underline text-sm text-gray-500">{{'InformationutileHomme'|transloco}}:</p>

                  <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
                    <div class="mb-4 w-4/5">

                      <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
                      <input type="text" formControlName="professionFemme"
                        class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                        placeholder="{{'SaisirDatedenaissanceEnfant'|transloco}}" />

                    </div>

                    <div class="mb-4 w-4/5">

                      <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
                      <input type="text" formControlName="adresseFemme"
                        class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                        placeholder="{{'SaisirAdresseExact'|transloco}}" />

                    </div>

                  </div>
                </span>
              </span>


            </ng-template>

          </div>


          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
            hover:bg-gray-200  
            bg-gray-100 
            text-gray-700 
            border duration-200 ease-in-out 
            border-gray-600 transition">{{'Prècedent'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button (click)="SecondFemmeInterne()" matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-teal-600  
    bg-teal-600 
    text-teal-100 
    border duration-200 ease-in-out 
    border-teal-600 transition">{{'Suivant'|transloco}}</button>

            </div>
          </div>

        </form>
      </mat-step>

      <mat-step [stepControl]="MereFemmeFormGroup" *ngIf="isTypeFemme == true">
        <form [formGroup]="MereFemmeFormGroup">
          <ng-template matStepLabel *ngIf="isTypeFemme == true">{{'Mère'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400">{{'Informationpersonnel'|transloco}}</span>
          </ng-template>


          <div class=" lg:grid md:grid-flow-col grid-cols-2  mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Nom'|transloco}}</label>
              <input type="text" formControlName="nomMereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNomMere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Prenoms'|transloco}} </label>
              <input type="text" formControlName="prenomsMereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenomsMere'|transloco}}" />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissMereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissanceMere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="text" formControlName="lieunaissMereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirLieuNaissanceMere'|transloco}}" />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Profession'|transloco}}</label>
              <input type="text" formControlName="professionMereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProffessionMere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">
              <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
              <input type="text" formControlName="adresseMereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirAdresseMere'|transloco}}" />
            </div>

          </div>
          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-gray-700 
        border duration-200 ease-in-out 
        border-gray-600 transition">{{'Prècedent'|transloco}}</button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-600  
        bg-teal-600 
        text-teal-100 
        border duration-200 ease-in-out 
        border-teal-600 transition"> {{'Suivant'|transloco}} </button>

            </div>
          </div>
        </form>

      </mat-step>

      <mat-step [stepControl]="PereFemmeFormGroup" *ngIf="isTypeFemme == true">
        <form [formGroup]="PereFemmeFormGroup">
          <ng-template *ngIf="isTypeFemme == true" matStepLabel> {{'Père'|transloco}} <br>
            <span class="font-normal text-xs text-gray-400"> {{' Informationpersonnel '|transloco}}</span>
          </ng-template>


          <div class=" lg:grid md:grid-flow-col grid-cols-2  mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Nom'|transloco}} </label>
              <input type="text" formControlName="nomPereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNomPere'|transloco}} " />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Prenoms'|transloco}} </label>
              <input type="text" formControlName="prenomsPereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrenomsPere'|transloco}}" />




            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissPereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissancePere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="text" formControlName="lieuNaissPereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirLieuNaissancePere'|transloco}} " />

            </div>

          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2  gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Profession'|transloco}}</label>
              <input type="text" formControlName="professionPereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProffessionPere'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">
              <label class="block mb-2 text-sm font-bold text-black">{{'AdresseExacte'|transloco}}</label>
              <input type="text" formControlName="adressPereFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirAdressePere'|transloco}}" />
            </div>

          </div>
          <div class="flex p-2 mt-4">
            <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-gray-700 
        border duration-200 ease-in-out 
        border-gray-600 transition"> {{'Prècedent'|transloco}} </button>
            <div class="flex-auto flex flex-row-reverse">
              <button mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-600  
        bg-teal-600 
        text-teal-100 
        border duration-200 ease-in-out 
        border-teal-600 transition"> {{'Suivant'|transloco}} </button>

            </div>
          </div>
        </form>

      </mat-step>
      <mat-step [stepControl]="TemoinFemmeGroup">
        <form [formGroup]="TemoinFemmeGroup">
          <ng-template matStepLabel> {{'TemoindelaFemme'|transloco}}<br>
            <span class="font-normal text-xs text-gray-400"> {{'Informationtemoindelafemme'|transloco}}</span>
          </ng-template>
          <div class=" lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'Nom'|transloco}}</label>
              <input type="text" formControlName="nomTemoinFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirNomdeTémoin'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Prenoms'|transloco}}</label>
              <input type="text" formControlName="prenomsTemoinFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirPrènomdeTémoin'|transloco}}" />

            </div>


          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'DateNaissance'|transloco}}</label>
              <input type="date" formControlName="datenaissTemoinFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirDatedenaissance'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black">{{'LieuNaissance'|transloco}}</label>
              <input type="text" formControlName="lieunaissTemoinFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirLieunaissance'|transloco}}" />

            </div>
          </div>
          <div class="lg:grid md:grid-flow-col grid-cols-2 mt-2 gap-4">
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'AdresseExacte'|transloco}}</label>
              <input type="text" formControlName="adresseTemoinFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirAdresseExact'|transloco}}" />

            </div>
            <div class="mb-4 w-4/5">

              <label class="block mb-2 text-sm font-bold text-black"> {{'Profession'|transloco}} </label>
              <input type="text" formControlName="professionTemoinFemme"
                class="bg-gray-50 block w-full p-2.5 border-gray-300 rounded-lg text-md border"
                placeholder="{{'SaisirProfession'|transloco}}" />

            </div>
          </div>
          <button mat-button matStepperPrevious class="text-md hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
          hover:bg-gray-200  
          bg-gray-100 
          text-gray-700 
          border duration-200 ease-in-out 
          border-gray-600 transition"> {{'Prècedent'|transloco}}</button>
          <div class="flex-auto flex flex-row-reverse">
            <button (click)="OpenActeMariage()" mat-button matStepperNext class="text-sm  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
    hover:bg-blue-600  
    bg-blue-600 
    text-blue-100 
    border duration-200 ease-in-out 
    border-blue-600 transition"> {{'Sauvegarder'|transloco}}</button>

          </div>

        </form>
      </mat-step>
    </mat-horizontal-stepper>


  </div>
</div>